<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} %relative [%thread] %level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.deltaspike.core.spi.config" level="INFO" />

    <logger name="org.weld" level="ERROR" />

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>